# Git
.git 
.gitignore 

#Docker
.docker 

#Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/



# Ignore virtual environments
venv/
__pycache__/
*.pyc

# Ignore local environment files, IDE files, etc.
.env
.git
.gitignore
.DS_Store

# If you have test folders or large assets not needed in production:
tests/
docs/
.git
tmp/
